-- CONSULTA 1
use Practica1_semi2;

select count(*) as registrosTiempo from tiempo
select count(*) as registrosPais from pais
select count(*) as registrosTsunami from tsunami
select count(*) as registrosDesastre from desastre
select count(*) as registrosTemporal from temporal